@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: Rubik;
    margin: 0;
}


/* SLIDER */

.slider{
    height: 90vh;
    position: relative;
    text-align: center;
    color: #fff;
}

.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slider h1{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3rem;
}

.bi-arrow-right-circle-fill{
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    right: 5%;
    top: 50%;
}

.bi-arrow-left-circle-fill{
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 5%;
    top: 50%;
}

/* NAVBAR */
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.navbar img{
    height: 100%;
}

.navbar ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
