@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS reset */

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/* SLIDER */

.slider{
    height: 90vh;
    position: relative;
    text-align: center;
    color: #fff;
}

.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slider h1{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3rem;
    text-shadow: -10px 10px 0px #b5b6b6,
                 -20px 20px 0px #646464,
                 -30px 30px 0px #424242;
}

.bi-arrow-right-circle-fill{
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    right: 5%;
    top: 50%;
    cursor: pointer;
}

.bi-arrow-left-circle-fill{
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 5%;
    top: 50%;
    cursor: pointer;
}

/* NAVBAR */
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.navbar img{
    height: 100%;
}

.navbar ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* SUBSCRIPCION */
.subscribe{
    height: 100vh;
    display: grid;
    grid-template: 1fr / repeat(2, 50%);
    align-items: center;
    background-color: #757474;
}

.subscribe h2{
    padding: 3rem;
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    
}

.subscribe-form{
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-flow: wrap column;
    gap: 0.5rem;
    background-color: #fff;
}

#nombre{
    height: 1rem;
    padding: 1rem;
    margin: 1rem 0 0 0 ;
    border: none;
}

#email{
    height: 1rem;
    padding: 1rem;
    margin: 1rem 0 0 0;
    border: none;
}

#submit {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#submit:hover,
#submit :focus {
  opacity: .75;
}